#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define OUTPUT_SOURCE_KEYCODE_STATE_CHANGE 3
#define ALP 0

/ {
    hl_strong_click_1: hl_strong_click_1 {
		compatible = "zmk,output-behavior-generic";
		#binding-cells = <0>;
        device = <&haptic_l>;
        force = <1>;
	};

    hr_strong_click_1: hr_strong_click_1 {
		compatible = "zmk,output-behavior-generic";
		#binding-cells = <0>;
        device = <&haptic_r>;
        force = <1>;
	};

    haptic_key_f: haptic_key_f {
        compatible = "zmk,output-behavior-listener"
        bindings = <&hl_strong_click_1>;
        position = <0x09>;
        layers = <ALP>;
        sources = <OUTPUT_SOURCE_KEYCODE_STATE_CHANGE>;
    };

    haptic_key_j: haptic_key_j {
        compatible = "zmk,output-behavior-listener"
        bindings = <&hr_strong_click_1>;
        position = <0x0D>;
        layers = <ALP>;
        sources = <OUTPUT_SOURCE_KEYCODE_STATE_CHANGE>;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
                &kp Q   &kp W   &kp E   &kp R   &kp T     &kp Y   &kp U   &kp I      &kp O   &kp P
                &kp A   &kp S   &kp D   &kp F   &kp G     &kp H   &kp J   &kp K      &kp L   &kp ENTER
                &kp Z   &kp X   &kp C   &kp V   &kp B     &kp N   &kp M   &kp COMMA  &kp DOT &kp FSLH
                                                &kp BSPC  &kp SPACE
            >;
        };
    };
};